
// From http://phpjs.org/functions/empty:392
function isEmpty(mixed_var) {
  var key;
  if (mixed_var === "" ||
    mixed_var === 0 ||
    mixed_var === "0" ||
    mixed_var === null ||
    mixed_var === false ||
    typeof mixed_var === 'undefined'
  ){
    return true;
  }
  if (typeof mixed_var == 'object') {
    for (key in mixed_var) {
      return false;
    }
    return true;
  }

  return false;
}

function appLogo(basic_name) {
  return '<img src="images/logos/'+basic_name+'.png" alt="'+basic_name+'" />';
}

function externalLink(text, url, options) {
  if (isEmpty(options)) {
    options = {};
  }
  return '<a href="'+url+'" '+(isEmpty(options.class) ? '' : 'class="'+options.class+'"')+'>'+text+' <i class="icon-share link-external"></i></a>';
}

function miniAppLogo(basic_name) {
  return '<img src="images/logos/'+basic_name+'-mini.png" alt="'+basic_name+'" />';
}

function appProjectLink(app_name, project_url) {
  return externalLink(app_name+" Website", project_url);
}

function titelize(text) {
  return text.substr(0,1).toUpperCase() + text.substr(1);
}



// installed version

function checkAllInstalledVersions() {
  var delayBetweenRequests = 250; // in ms
  var currentDelay = 0;
  <% @directories.each do |directory| %>
    if (!isEmpty($("#<%= directory %>").toArray())) {
      setTimeout(function() {
        checkInstalledVersionForDirectory("<%= directory %>")
      }, currentDelay);
      currentDelay += delayBetweenRequests;
    }
  <% end %>
}

function checkInstalledVersionForDirectory(directory) {
  var dir = $("#"+directory);
  var installedVersionUrl = "/installations/"+directory+"/installed_version.json";

  $(dir).find(".installed-app .busy").show(); // show busy
  $(dir).find(".installed-version").html(""); // erase version + link
  $.getJSON(installedVersionUrl).success(function(data) {
    updateInstalledVersionFor(dir, data.installed_version);
    updateAssessments(dir);
    addInstalledVersionLink(dir, data);
  }).error(function(xhr, error, exception) {
    console.log(xhr);
    console.log(error);
    console.log(exception);
    error = titelize(error);
    addInstalledVersionLink(dir, '<span class="message error">'+error+': '+exception+'</span>');
  });
}

<% @directories.each do |directory| %>
  $(function() {
    var dir = $("#<%= directory %>");

    $(dir).find(".check-installed-version.btn").click(function() {
      checkInstalledVersionForDirectory("<%= directory %>");
    });
  });
<% end %>



function updateInstalledVersionFor(dir, html) {
  var ia = $(dir).find(".installed-app");
  $(ia).find(".busy").hide();
  $(ia).find(".installed-version").html(html); // set installed version text
  // update button
  $(ia).find(".check-installed-version.btn").html('<i class="icon-refresh"/> Recheck');
}

function addInstalledVersionLink(dir, data) {
  if (data.project_url_for_installed_version) {
    var ivl = $(dir).find(".installed-version-link");
    $(ivl).html(externalLink("Installed Release", data.project_url_for_installed_version, "installed-version"));
  }
}



// newest version

function checkAllNewestVersions() {
  var delayBetweenRequests = 250; // in ms
  var currentDelay = 0;
  <% @detectors.each do |detector| %>
    if (!isEmpty($(".<%= detector.basic_name %>-app").toArray())) {
      setTimeout(function() {
        checkNewestVersionForApplication("<%= detector.basic_name %>");
      }, currentDelay);
      currentDelay += delayBetweenRequests;
    }
  <% end %>
}

function checkNewestVersionForApplication(app) {
  var apps = $("."+app+"-app");
  var newestVersionUrl = "/applications/"+app+"/newest_version.json";

  $(apps).find(".newest-app .busy").show(); // show busy
  $(apps).find(".newest-version").html(""); // erase version + link
  $.getJSON(newestVersionUrl).success(function(data) {
    updateNewestVersionFor(apps, data.newest_version);
    updateAssessments(apps);
    addNewestVersionLink(apps, data);
  }).error(function(xhr, error, exception) {
    console.log(xhr);
    console.log(error);
    console.log(exception);
    error = titelize(error);
    updateNewestVersionFor(apps, '<span class="message error">'+error+': '+exception+'</span>');
  });
}

<% @detectors.each do |detector| %>
  $(function() {
    var inst = $(".<%= detector.basic_name %>-app");

    $(inst).find(".check-newest-version.btn").click(function() {
      checkNewestVersionForApplication("<%= detector.basic_name %>");
    });
  });
<% end %>



function addNewestVersionLink(inst, data) {
  if (data.project_url_for_newest_version) {
    var nvl = $(inst).find(".newest-version-link");
    $(nvl).html(externalLink("Newest Release", data.project_url_for_newest_version, "newest-version"));
  }
}

function updateNewestVersionFor(inst, html) {
  var na = $(inst).find(".newest-app");
  $(na).find(".busy").hide();
  $(na).find(".newest-version").html(html); // set newest version text
  // update button
  $(na).find(".check-newest-version.btn").html('<i class="icon-refresh"/> Recheck');
}



// global

function checkAllVersions() {
  checkAllInstalledVersions();
  checkAllNewestVersions();
}

function loadInstallations() {
  $("h1 .busy").show();
  $("#check-all-versions").fadeOut();
  $("#error-dirs").slideUp();
  $("#app-dirs").slideUp();

  $.getJSON("/installations.json").success(function(data) {
    renderErrorDirs(data.error_dirs);
    renderAppDirs(data.app_dirs)
    $("h1 .busy").hide();
    $("#check-all-versions").fadeIn();
  }).error(function(xhr, error, exception) {
    console.log(xhr);
    console.log(error);
    console.log(exception);
    error = titelize(error);
    // FIXME: show server error
    $("h1 .busy").hide();
  });
}

function updateAssessments(inst) {
  $(inst).each(function() {
    var installed_version = $(this).find(".installed-app .installed-version").text();
    var newest_version = $(this).find(".newest-app .newest-version").text();
    var as = $(this).find(".assessment-summary");

    // reset styles
    $(this).removeClass("alert-success");
    $(this).removeClass("alert-warning");
    $(as).removeClass("btn-success");
    $(as).removeClass("btn-warning");
    $(as).html("<i class='icon-question-sign' /> Status Unknown");

    if(!isEmpty(installed_version) &&
       installed_version != "unknown" &&
       !isEmpty(newest_version) &&
       newest_version != "unknown"
    ) {
      $(this).addClass("alert");
      if(installed_version == newest_version) {
        $(this).addClass("alert-success");
        $(as).addClass("btn-success");
        $(as).html("<i class='icon-ok-sign icon-white' /> Up-to-Date");
      } else {
        $(this).addClass("alert-warning");
        $(as).addClass("btn-warning");
        $(as).html("<i class='icon-exclamation-sign icon-white' /> Needs Attention");
      }
    }
  });
}

function renderAppDirs(app_dirs) {
  var list = $("#app-dirs");

  // reset list
  $(list).html("");

  // list dirs
  $(app_dirs).each(function() {
    var app = this;
    var new_app = app.unrecognized ? $("#new-unrecognized-app").clone() : $("#new-app").clone();

    $(new_app).removeProp('id'); // erase cloded id
    for (prop in app) { // have all data available for later use
      $(new_app).find("section").data(prop, app[prop]);
    }

    // set values
    $(new_app).find("section").prop('id', app.dir_id);
    $(new_app).find("section").addClass(app.basic_name+"-app");
    $(new_app).find(".collapser").data('target', "#"+app.dir_id+"-details");
    $(new_app).find(".dir").append(app.dir);
    $(new_app).find(".collapser .app-name").append(miniAppLogo(app.basic_name));
    $(new_app).find(".collapser .app-name").append(app.app_name);
    $(new_app).find(".collapse").attr('id', app.dir_id+"-details");
    $(new_app).find(".collapse .app-name").append(app.app_name);
    $(new_app).find(".collapse .project-link").append(appProjectLink(app.app_name, app.project_url));
    $(new_app).find(".collapse .logo").append(appLogo(app.basic_name));
    $(new_app).removeClass("hide").show();

    $(list).append(new_app);
  });

  $(list).slideDown();
  $(".collapser").click(function() {
    $($(this).data("target")).collapse('toggle');
    $(this).toggleClass("in");
  });
  $(list).find("button.check-installed-version").click(function() {
    checkInstalledVersionForDirectory($(this).parents("section").data('dir_id'));
  });
  $(list).find("button.check-newest-version").click(function() {
    checkNewestVersionForApplication($(this).parents("section").data('basic_name'));
  });
}

function renderErrorDirs(error_dirs) {
  var list = $("#error-dirs-details ul");

  // reset list
  $(list).html("");

  // list dirs
  $(error_dirs).each(function() {
    $(list).append('<li><%= image("folder-exists-not") %> ' + this + '</li>');
  });

  // show errors only of there are any
  if (!isEmpty(error_dirs)) {
    $("#error-dirs").slideDown();
  }
}



// on load

$(function() {
  $("button#check-all-versions").click(checkAllVersions);
  $("button#refresh-installations-button").click(loadInstallations);

  loadInstallations();
});