
#apps
  %h2
    Applications
  %p
    %a.check-all-installed-versions.button
      = ajax_loader
      = image("version-check-installed")
      Check all installed versions
    &nbsp;
    %a.check-all-newest-versions.button
      = ajax_loader
      = image("version-check-newest")
      Check all newest versions
  -# empty container for spacing
  .message.container
  - @apps.each do |app|
    %div{ :id => "#{app.basic_name}-app", :class => "container app #{app.basic_name}-app" }
      = make_collapsable("##{app.basic_name}-app", :collapsed)
      .collapsable-collapsed
        %h3.collapsable-button
          = mini_logo_for(app)
          = app.app_name
          .description
            %span.total-installs
              Installations:
              %span.installs>= @installs_for_app[app].size
            &nbsp;
            %span.outdated-installs
              Outdated:
              %span.installs> unknown
              = ajax_loader
      .collapsable-expanded
        .logo= logo_for(app)
        %h3.collapsable-button
          = image("app")
          = app.app_name
        .content
          .newest-version
            Newest Version:
            %span.version
            = ajax_loader
            %a.check-newest-version.button
              = image("version-check-newest")
              Check
          .project-links
            = link_to_app_project(app)
          .dirs.container
            Installations:
            %ul.vertical.list
              - @installs_for_app[app].each do |install|
                %li{ :id => dom_id_for_dir(install.base_dir), :class => "dir" }
                  = image("folder")
                  = install.base_dir
                  %span.description
                    %span.installed-version
                      Installed:
                      %span.version
                      = ajax_loader
                      %a.check-installed-version.button
                        = image("version-check-installed")
                        Check
                      %span.dir-project-links
                        %span.installed-version
:javascript
  $(function() {
    $(".check-all-installed-versions.button").click(checkAllInstalledVersions);
    $(".check-all-newest-versions.button").click(checkAllNewestVersions);
  });

  function updateVerdicts(app_or_dir) {
    if(app_or_dir.hasClass("app")) {
      var app = app_or_dir;
    } else {
      var app = app_or_dir.parents(".app");
    }
    var newest_version = $(app).find(".newest-version .version").text();
    if(isEmpty(newest_version)) {
      newest_version = $(app).parent(".app").find(".newest-version .version").text();
    }
    var installs = $(app).find(".dir");
    $(installs).each(function() {
      var img = $(this).find("img").not(".description img");
      var installed_version = $(this).find(".version").text();

      if(!isEmpty(installed_version) &&
         installed_version != "unknown" &&
         !isEmpty(newest_version) &&
         newest_version != "unknown"
      ) {
        $(this).addClass("verdict border-all");
        if (newest_version == installed_version) {
          $(this).addClass("up-to-date");
          $(img).replaceWith('#{image("verdict-up-to-date-mini")}');
        } else {
          $(this).addClass("outdated");
          $(img).replaceWith('#{image("verdict-outdated-mini")}');
        }
      }
    });

    updateSummaryVerdicts(app);
  }

  function updateSummaryVerdicts(app) {
    var outdatedInstallsSummary = $(app).find(".outdated-installs .installs");

    // when all verdicts have been issued
    if($(app).find(".dir").length == $(app).find(".verdict").length) {
      var img = $(app).find("h3 img");
      var outdatedInstalls = $(app).find(".dir.verdict.outdated");

      $(app).addClass("verdict striped");
      if (outdatedInstalls.length === 0) {
        $(app).addClass("up-to-date");
        $(outdatedInstallsSummary).html("none");
      } else {
        $(app).addClass("outdated");
        $(outdatedInstallsSummary).html(outdatedInstalls.length);
      }
    } else {
      $(outdatedInstallsSummary).html("unknown");
    }
  }
