
#apps
  %h2
    Applications
  - @apps.each do |app|
    %div{ :id => "#{app.basic_name}-app", :class => "container border-all app #{app.basic_name}-app" }
      .logo= logo_for(app)
      .head
        %h3
          = mini_logo_for(app)
          %span.name= app.app_name
      .body
        .content
          .newest-version
            Newest Version:
            %span.version
            = ajax_loader
            %a.check-version.button
              = image("version-check-newest")
              Check
          .project-links
            = link_to_app_project(app)
          .dirs.container
            Installations:
            %ul.verical.list
              - @installs_for_app[app].each do |install|
                %li{ :id => dom_id_for_dir(install.base_dir) }
                  = image("folder")
                  = install.base_dir
                  (Version:
                  %span.version= install.installed_version
                  )
