!!! 5
!!!

%html
  %head
    %title Versionator
    %link{ :href => "stylesheet.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "javascripts/jquery-1.4.4.min.js" }
  %body
    %h1 Versionator
    #root
      - unless @dirs_that_dont_exist.empty?
        .message.error
          %h2 Directories not found
          %ul.vertical.list
            - @dirs_that_dont_exist.each do |dir|
              %li
                = image("folder-exists-not")
                = dir
      .container
      .container.directories
        %h2 Installations
        .container.installations
        - @dirs_that_exist.each do |dir|
          .container.installations
            %h3
              = image("folder")
              = dir
            - @installations[dir].each do |installation|
              .item
                .logo= logo_for(installation)
                .verdict.unknown
                  &nbsp;
                %h4
                  %span.name= installation.name
                  %span.version= installation.installed_version
                %p
                  %a{ :href => installation.project_url }
                    = image("homepage-developer")
                    Project Website
                  - if installation.project_url_for_installed_version
                    %a{ :href => installation.project_url_for_installed_version }
                      = image("homepage-developer")
                      = installation.name
                      = installation.installed_version
                      Release
      #recognizers.container
        = toggle_container('#recognizers div.recognizers')
        %h2
          Recognizers
        .container.recognizers
          %ul.horizontal.recognizers.icon.list
            - @recognizers.each do |rec|
              %li
                = logo_for(rec)
                = rec.name
