%section.errors.row-fluid.js-load-errors

%section.errors.row-fluid.hide.js-dir-errors
  .alert.alert-block.alert-error
    .collapser.js-collapser.in{ :data => {:toggle => "collapse", :target => "#error-dirs-details"} }
      %h4 Directories not found
    #error-dirs-details
      %p The following directories could not be found:
      %ul.js-missing-dirs.unstyled


%p.row-fluid
  %button.btn.hide.js-check-all-versions-button
    = busy_indicator
    %i.icon-retweet
    Check all versions

.js-app-dirs



%section.app.hide.js-new-unrecognized-app
  .row-fluid
    .span12
      %h4
        = image("folder")
        %span.js-dir
          -# paste dir

%section.app.hide.js-app.js-new-app
  .row-fluid
    -# set data-target to "##{dom_id_for_dir(dir)}-details" on .collapser
    .collapser.row-fluid.js-collapser{ :data => {:toggle => "collapse"} }
      .span8
        %h4
          %span.js-dir
            -# paste dir
          %button.btn.btn-mini.js-check-app-button
            %i.icon-repeat
            Check
          %span.js-installed-app.js-newest-app= busy_indicator
      .span2
        %h4.app-name.js-app-name
          -# add mini logo for app
          -# paste app_name
      .span2
        .btn.disabled.js-assessment-summary
          %i.icon-question-sign
          Status Unknown
  -# set id to "#{dom_id_for_dir(dir)}-details" on .js-collapse
  .row-fluid
    .collapse.js-collapse
      .span3
        .logo.js-logo
          -# add logo for app
      .versions.span3
        .js-installed-app
          Installed Version:
          %strong.js-installed-version
          = busy_indicator
          %button.btn.btn-mini.js-check-installed-version-button
            %i.icon-repeat
            Check
        .js-newest-app
          Newest Version:
          %strong.js-newest-version
          = busy_indicator
          %button.btn.btn-mini.js-check-newest-version-button
            %i.icon-repeat
            Check
      .links.offset2.span3
        .js-project-website-link
          -# paste link_to_project_website
        .js-project-download-link
          -# paste link_to_project_download
