%h1
  Installations
  = busy_indicator
  %button#refresh-installations-button.btn
    %i.icon-refresh
    Reload


%section#errors.row-fluid.hide
  .alert.alert-error
    %a.collapser.in{ :data => {:toggle => "collapse", :target => "#error-details"} }
      %h3 Directories not found
    #error-details.collapse.in
      %p The following directories could not be found:
      %ul.unstyled


%p.row-fluid
  %button#check-all-versions.btn.hide
    = busy_indicator
    %i.icon-retweet
    Check all versions

#app-dirs



#new-empty-dir.row-fluid.hide
  -# set id to dom_id_for_dir(dir) on section
  %section{ :class => "app span12" }
    %h3
      = image("folder")
      -# paste dir
      %span.dir

#new-app.row-fluid.hide
  -# set id to dom_id_for_dir(dir) on section
  -# add class "#{app.basic_name}-app" on section
  %section{ :class => "app span12" }
    -# set data-target to "##{dom_id_for_dir(dir)}-details" on .collapser
    %a.collapser.row-fluid{ :data => {:toggle => "collapse"} }
      %h3.span8
        %span.dir
          -# paste dir
        %span.installed-app.newest-app= busy_indicator
      %h4.app-name.span2
        -# add mini logo for app
        -# paste app_name
      .span2
        .assessment-summary.btn.disabled
          %i.icon-question-sign
          Status Unknown
    -# set id to "#{dom_id_for_dir(dir)}-details" on .collapse
    .collapse
      .row-fluid
        .span4
          %h4.app-name
            -# pasete app_name
          .installed-app
            Installed Version:
            %span.installed-version
            = busy_indicator
            %button.check-installed-version.btn.btn-mini
              %i.icon-repeat
              Check
          .newest-app
            Newest Version:
            %span.newest-version
            = busy_indicator
            %button.check-newest-version.btn.btn-mini
              %i.icon-repeat
              Check
        .span4.links
          .project-link
            -# paste link_to_project
          .installed-version-link
          .newest-version-link
        .span4
          .logo.pull-right
            -# add logo for app
