%h1 Installations

%section#errors.row-fluid

%section#error-dirs.row-fluid.hide
  .alert.alert-error
    .collapser.in{ :data => {:toggle => "collapse", :target => "#error-dirs-details"} }
      %h4 Directories not found
    #error-dirs-details.collapse.in
      %p The following directories could not be found:
      %ul.unstyled


%p.row-fluid
  %button#check-all-versions.btn.hide
    = busy_indicator
    %i.icon-retweet
    Check all versions

#app-dirs



#new-unrecognized-app.row-fluid.hide
  -# set id to dom_id_for_dir(dir) on section
  %section.span12
    %h4
      = image("folder")
      %span.dir
        -# paste dir

#new-app.row-fluid.hide
  -# set id to dom_id_for_dir(dir) on section
  -# add class "#{app.basic_name}-app" on section
  %section.span12
    -# set data-target to "##{dom_id_for_dir(dir)}-details" on .collapser
    .collapser.row-fluid{ :data => {:toggle => "collapse"} }
      %h4.span8
        %span.dir
          -# paste dir
        %button.check-app.btn.btn-mini
          %i.icon-repeat
          Check
        %span.installed-app.newest-app= busy_indicator
      %h4.app-name.span2
        -# add mini logo for app
        -# paste app_name
      .span2
        .assessment-summary.btn.disabled
          %i.icon-question-sign
          Status Unknown
    -# set id to "#{dom_id_for_dir(dir)}-details" on .collapse
    .collapse
      .row-fluid
        .span4
          %h4.app-name
            -# pasete app_name
          .installed-app
            Installed Version:
            %span.installed-version
            = busy_indicator
            %button.check-installed-version.btn.btn-mini
              %i.icon-repeat
              Check
          .newest-app
            Newest Version:
            %span.newest-version
            = busy_indicator
            %button.check-newest-version.btn.btn-mini
              %i.icon-repeat
              Check
        .span4.links
          .project-link
            -# paste link_to_project
          .installed-version-link
          .newest-version-link
        .span4
          .logo.pull-right
            -# add logo for app
