!!! 5
!!!

%html
  %head
    %title Versionator
    %link{ :href => "stylesheet.css", :rel => "stylesheet", :type => "text/css" }
  %body
    %h1 Versionator
    #root
      .container
      .container.directories
        %h2 Directories
        %ul
          - @dirs.each do |dir|
            %li
              = Dir.exist?(dir) ? image("folder") : image("folder-exists-not")
              = dir
      .container.recognizers
        %h2 Recognizers
        %ul
          - @recognizers.each do |rec|
            %li= rec.to_s
      .container.wares
        %h2 Wares
        - @wares.each do |ware|
          .item
            %h3
              %span.ware= ware.name
              %span.version= ware.installed_version
            %p= ware.base_dir
            %p
              %a{ :href => ware.homepage } Homepage
            .verdict.up-to-date
              &nbsp;
