
%h2 Overview
%ul.vertical.icon.list
  %li
    = image("folder-big")
    %h2 Installations
    %p This will list all the directories you have configured to check.
    %p It will detect the installed application and the its version.
    %p
      You will then have the opportunity to check for the most recent version online and get an overview on which of your applications might need an update.
  %li
    = image("app-big")
    %h2 Applications
    %p
      This will list all the applications you have installed in the directories you have configured to check.
    %p
      It will allow you to check for the most recent version online and show you which installation might need an update.

#dirs.container.border-all
  = make_collapsable("#dirs", :collapsed)
  .collapsable-collapsed
    %h3.collapsable-button
      = image("folder")
      Directories
      .description This is a list of all the directories you have configured to check.
  .collapsable-expanded
    %h3.collapsable-button
      = image("folder")
      Directories
    .content
      %p
        This is a list of all the directories you have configured to check.
      %ul.vertical.list
        - @dirs.each do |dir|
          %li
            = image("folder")
            = dir

#apps.container.border-all
  = make_collapsable("#apps", :collapsed)
  .collapsable-collapsed
    %h3.collapsable-button
      = image("app")
      Applications
      .description This is a list of all the applications we are able to check.
  .collapsable-expanded
    %h3.collapsable-button
      = image("app")
      Applications
    .content
      %p
        This is a list of all the applications we are able to check.
      %ul.vertical.list
        - @apps.each do |app|
          %li
            = link_to("#{mini_logo_for(app)} #{app.app_name}", app.project_url)
