!!! 5
!!!

%html
  %head
    %title Versionator
    %link{ :href => "stylesheet.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "jquery-1.4.4.min.js" }
  %body
    %h1 Versionator
    #root
      - unless @dirs_that_dont_exist.empty?
        .message.error
          %h2 Directories not found
          %ul.vertical.list
            - @dirs_that_dont_exist.each do |dir|
              %li
                = image("folder-exists-not")
                = dir
      .container
      .container.directories
        %h2 Installations
        .container.installations
        - @dirs_that_exist.each do |dir|
          .container.installations
            %h3
              = image("folder")
              = dir
            - @installations[dir].each do |installation|
              %div{ :class => "item #{installation.basic_name}-installation" }
                .logo= logo_for(installation)
                %h4
                  %span.name= installation.app_name
                .installed-version
                  Installed Version:
                  %span.version= installation.installed_version
                .newest-version
                  Newest Version:
                  %span.version
                  = ajax_loader
                  %a.check-version.button
                    = image("version-check-newest")
                    Check
                .project-links
                  %a{ :href => installation.project_url }
                    = image("homepage-developer")
                    Project Website
                  - if installation.project_url_for_installed_version
                    %a{ :href => installation.project_url_for_installed_version }
                      = image("homepage-developer")
                      = installation.app_name
                      = installation.installed_version
                      Release
      #detectors.container
        = toggle_container('#detectors div.detectors')
        %h2
          Application Detectors
        .container.detectors
          %ul.horizontal.detectors.icon.list
            - @detectors.each do |det|
              %li
                %a{ :href => det.project_url }
                  = logo_for(det)
                  = det.app_name
      - @detectors.each do |detector|
        :javascript
          $(document).ready(function() {
            var inst = $(".#{detector.basic_name}-installation");
            var nv = $(inst).find(".newest-version");
            $(nv).find(".check-version.button").click(function() {
              $(nv).find(".version").html(""); // erase newest version text
              $(nv).find(".ajax-loader").show(); // show throbber
              $.getJSON("/apps/#{detector.basic_name}/newest_version", function(data) {
                updateNewestVersionFor(inst, data);
                updateVerdictsFor(inst);
                addNewestVersionLink(inst, data);
              });
            });
          });
      :javascript
        function addNewestVersionLink(inst, data) {
          if (data.project_url_for_newest_version) {
            var links = $(inst).find(".project-links");
            $(links).html($(links).html()+'<a href="'+data.project_url_for_newest_version+'">#{escape_javascript(image("homepage-developer"))} Newest Release</a>');
          }
        }
        function updateNewestVersionFor(inst, data) {
          var nv = $(inst).find(".newest-version");
          $(nv).find(".ajax-loader").hide(); // hide throbber
          $(nv).find(".version").html(data.newest_version); // set newest version text
          // update button
          $(nv).find(".check-version.button").html("#{escape_javascript(image("version-check-newest"))} Recheck");
        }
        function updateVerdictsFor(inst) {
          $(inst).each(function() {
            var installed_version = $(this).find(".installed-version .version").text();
            var newest_version = $(this).find(".newest-version .version").text();

            $(this).addClass("verdict");
            if(installed_version == newest_version) {
              $(this).addClass("up-to-date");
            } else {
              $(this).addClass("outdated");
            }
          });
        }
