%h1
  Installations
  = busy_indicator
  %button#refresh-installations-button.btn
    %i.icon-refresh
    Reload


%section#errors.row-fluid.hide
  .alert.alert-error
    %a.collapser.in{ :data => {:toggle => "collapse", :target => "#error-details"} }
      %h3 Directories not found
    #error-details.collapse.in
      %p The following directories could not be found:
      %ul.unstyled


%p.row-fluid
  %button#check-all-versions.btn
    = busy_indicator
    %i.icon-retweet
    Check all versions

- @dirs_that_exist.each do |dir|
  - app = @app_for_dir[dir]
  - unless app
    .row-fluid
      %section{ :id => dom_id_for_dir(dir), :class => "app span12" }
        %h3
          = image("folder")
          = dir
  - else
    .row-fluid
      %section{ :id => dom_id_for_dir(dir), :class => "app #{app.basic_name}-app span12" }
        %a.collapser.row-fluid{ :data => {:toggle => "collapse", :target => "##{dom_id_for_dir(dir)}-details"} }
          %h3.span8
            = dir
            %span.installed-app.newest-app= busy_indicator
          %h4.app-name.span2
            = mini_logo_for(app)
            = app.app_name
          .span2
            .assessment-summary.btn.disabled
              %i.icon-question-sign
              Status Unknown
        .collapse{ :id => "#{dom_id_for_dir(dir)}-details" }
          .row-fluid
            .span4
              %h4.app-name= app.app_name
              .installed-app
                Installed Version:
                %span.installed-version
                = busy_indicator
                %a.check-installed-version.btn.btn-mini
                  %i.icon-repeat
                  Check
              .newest-app
                Newest Version:
                %span.newest-version
                = busy_indicator
                %a.check-newest-version.btn.btn-mini
                  %i.icon-repeat
                  Check
            .span4.links
              .project-link= link_to_app_project(app)
              .installed-version-link
              .newest-version-link
            .span4
              .logo.pull-right= logo_for(app)
