
#installations
  %h2
    Installations
  %p
    %a.check-all-versions.button
      = busy_indicator
      = image("version-check-all")
      Check all versions
    /
      &nbsp;
      %a.check-all-installed-versions.button
        = busy_indicator
        = image("version-check-installed")
        Check all installed versions
      &nbsp;
      %a.check-all-newest-versions.button
        = busy_indicator
        = image("version-check-newest")
        Check all newest versions
  - unless @dirs_that_dont_exist.empty?
    #message-error-dirs.error.message.container
      = make_collapsable("#message-error-dirs", :expanded)
      .collapsable-collapsed
        %h3.collapsable-button Directories not found
      .collapsable-expanded
        %h3.collapsable-button Directories not found
        .content
          The following directories could not be found:
          %ul.vertical.list
            - @dirs_that_dont_exist.each do |dir|
              %li
                = image("folder-exists-not")
                = dir
  - @dirs_that_exist.each do |dir|
    - app = @app_for_dir[dir]
    - unless app
      %div{ :id => dom_id_for_dir(dir), :class => "container app" }
        .collapsable-collapsed
          %h3
            = image("folder")
            = dir
    - else
      %div{ :id => dom_id_for_dir(dir), :class => "container app #{app.basic_name}-app" }
        = make_collapsable("##{dom_id_for_dir(dir)}")
        .collapsable-collapsed
          %h3.collapsable-button
            = mini_logo_for(app)
            = dir
            %span.description
              %span.installed-version
                Installed:
                %span.version> unknown
                = busy_indicator
              &nbsp;
              %span.newest-version
                Newest:
                %span.version> unknown
                = busy_indicator
        .collapsable-expanded
          .logo= logo_for(app)
          %h3.collapsable-button
            = image("folder")
            = dir
          .content
            %h4
              %span.name= app.app_name
            .installed-version
              Installed Version:
              %span.version
              = busy_indicator
              %a.check-installed-version.button
                = image("version-check-installed")
                Check
            .newest-version
              Newest Version:
              %span.version
              = busy_indicator
              %a.check-newest-version.button
                = image("version-check-newest")
                Check
            .project-links
              = link_to_app_project(app)
              %span.installed-version
              %span.newest-version
:javascript
  function updateVerdicts(inst) {
    $(inst).each(function() {
      var installed_version = $(this).find(".installed-version .version").text();
      var newest_version = $(this).find(".newest-version .version").text();

      if(!isEmpty(installed_version) &&
         installed_version != "unknown" &&
         !isEmpty(newest_version) &&
         newest_version != "unknown"
      ) {
        $(this).addClass("verdict striped");
        if(installed_version == newest_version) {
          $(this).addClass("up-to-date");
        } else {
          $(this).addClass("outdated");
        }
      }
    });
  }
