!!! 5
!!!

%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %link{ href: "css/bootstrap.min.css", rel: "stylesheet" }
    %link{ href: "css/bootstrap-theme.min.css", rel: "stylesheet" }
    %link{ href: "css/main.css", rel: "stylesheet" }
    %title Versionator
  %body
    %nav
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            =link_to "#{image("nav-index")} Versionator", '/', :class => "brand"

            %ul.nav
              %li= link_to("#{image("nav-installations")} Installations", '/')
              %li
                %button.btn.js-refresh-installations-button
                  %i.icon-refresh
                  Reload
                  = busy_indicator

            %ul.nav.pull-right
              %li.about= link_to("#{image("nav-about")} About", '/about')

    #content.container-fluid
      = yield

    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" }
    -# fall back if CDN fails
    :javascript
      window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>');
    %script{ src: "js/bootstrap.min.js", defer: true }
    %script{ src: "js/handlers.js", defer: true }
    %script{ src: "js/misc.js", defer: true }
    %script{ src: "js/render.js", defer: true }
