!!! 5
!!!

%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %link{ href: "css/bootstrap.min.css", rel: "stylesheet" }
    %link{ href: "css/bootstrap-theme.min.css", rel: "stylesheet" }
    %link{ href: "css/main.css", rel: "stylesheet" }
    %title Versionator
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
      .container-fluid
        =link_to "#{image("nav-index")} Versionator", '/', class: "navbar-brand"

        %ul.nav.navbar-nav
          %li= link_to("#{image("nav-installations")} Installations", '/')
          %li
            %button.btn.navbar-btn.js-refresh-installations-button
              %i.icon-refresh
              Reload
              = busy_indicator

        %ul.nav.navbar-nav.navbar-right
          %li.about= link_to("#{image("nav-about")} About", '/about')

    #content.container-fluid
      = yield

    %script{ src: "js/jquery.min.js" }
    %script{ src: "js/bootstrap.min.js", defer: true }
    %script{ src: "js/handlers.js", defer: true }
    %script{ src: "js/misc.js", defer: true }
    %script{ src: "js/render.js", defer: true }
