!!! 5
!!!

%html
  %head
    / jQuery
    %script{ :src => "lib/jquery/js/jquery.min.js", :async => true }

    / Bootstrap
    %script{ :src => "lib/bootstrap/js/bootstrap.min.js", :defer => true }
    %link{ :href => "lib/bootstrap/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css" }

    / App
    %script{ :src => "javascripts/app.js", :defer => true }
    %link{ :href => "stylesheets/screen.css", :rel => "stylesheet", :type => "text/css" }
    %title Versionator
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          =link_to "#{image("index")} Versionator", '/', :class => "brand"

          %ul.nav
            %li= link_to("#{image("folder")} Installations", '/installations')
            %li= link_to("#{image("app")} Applications", '/applications')

          %ul.nav.pull-right
            %li.about= link_to("#{image("about")} About", '/about')
    #content
      = yield
