!!! 5
!!!

%html
  %head
    %title Versionator
    %link{ :href => "stylesheet.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "jquery-1.4.4.min.js" }
    %script{ :src => "javascript.js" }
  %body
    #header
      %h1 Versionator
    #nav
      %ul.horizontal.tabs
        %li= link_to(image("index"), '/')
        %li= link_to("#{image("folder")} Installations", '/installations')
        %li= link_to("#{image("app")} Applications", '/apps')
        %li.about= link_to("#{image("about")} About", '/about')
    #content
      = yield
